<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Get a notification when the covid-1    9 vaccination page opens in the Stockholm region in Sweden">
    <meta name="og:title" property="og:title" content="Vaccination Notifications for Stockholm">
    <meta name="twitter:card" content="1177 Vaccination Notifications for Stockholm">
    <link rel="canonical" href="https://vaccinalert.se/">

    <meta name="keywords" content="vaccine covid notification corona 1177 1177.se vaccination stockholm sweden">
    <meta name="msvalidate.01" content="BDB6F796C82C771EAA3C4BF331AA8D14" />


    <title>{% block title %}{% endblock %}</title>


</head>
<body>
    {% block content %}
    {% endblock %}

    <div class="container">
        <div class="row">
            <div class="col-sm"></div>

            <div class="col-sm-7">
                <form method="POST" action="">
                    <center>
                        <br />
                        <h6 class="text-danger">We can currently only notify people who live in the Stockholm region.</h6> <br>
                        <h4>Time since our awesome program last controlled if 1177.se updated the vaccination webpage:</h4> <br>
                        <h1 id="clock"></h1> <br>
                        <p class="pb-4">Do you want an email sent to you when the vaccination page on <a href="https://www.1177.se/Stockholm/sjukdomar--besvar/lungor-och-luftvagar/inflammation-och-infektion-ilungor-och-luftror/om-covid-19--coronavirus/om-vaccin-mot-covid-19/boka-tid-for-vaccination-mot-covid-19-i-stockholms-lan/">1177.se</a> is updated? 
                        Please enter your email address below and swish a minimum amount of 20 SEK to 0730577417 
                        or <a href="https://www.paypal.com/paypalme/gustafholmer?locale.x=sv_SE&fbclid=IwAR1PLcrgPMYuxS51xExodu_D-Mpe-kqpYVt4xn4pJJ7IUT_rmZPd7JA8XF0">paypal</a>.
                        Do not forget to put in your email address in the message field of the transfer. You will recieve a confirmation email when we have processed your transfer. The money will cover the expenses of the website.</p>

                        <div class="form-group">
                            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We will never share your email with anyone else and we will delete all stored emails when all vaccination times are available on 1177.</small>
                        </div>
                        <button type="submit" class="btn btn-primary mb-5" >Submit</button>                 

                        <h6 class="small mt-2">The reason for creating this web application is that we currently believe Folkhälsomyndigheten is very vague regarding when 
                            and how specific age groups in Sweden can begin to book their vaccination appointment.</h6>
                        <p class="pb-2"> </p>
                    </center>
                </form>
            </div>

            <div class="col-sm"></div>
        </div>

        

        <div class="row row-cols-1">
            <div class="col"><center><h6 class="small">Gustaf Holmer<br>gustaf.holmer@outlook.com<br></h6></center></div>
        </div>
        <div class="row row-cols-1">
            <div class="col"><center><h6 class="small">Adam Jacobs<br>theworldyn@gmail.com<br></h6></center></div>
        </div>


      <script type="text/javascript" src="{{ url_for('static', filename = 'time.js') }}"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</body>
</html>
