<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Get a notification when the covid-1    9 vaccination page opens in the Stockholm region in Sweden">
    <meta name="og:title" property="og:title" content="Vaccination Notifications for Stockholm">
    <meta name="twitter:card" content="1177 Vaccination Notifications for Stockholm">
    <link rel="canonical" href="https://vaccinalert.se/">

    <meta name="keywords" content="vaccine covid notification corona 1177 1177.se vaccination stockholm sweden">
    <meta name="msvalidate.01" content="BDB6F796C82C771EAA3C4BF331AA8D14" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <script type="text/javascript" src="{{ url_for('static', filename = 'time.js') }}"></script>
    
    <title>{% block title %}{% endblock %}</title>


</head>
<body>
    {% block content %}
    {% endblock %}
    



    <div class="container "  >




        <div class="row">
            <div class="col-sm">

            </div>

            <div class="col-sm-7">
                <form method="POST" action="">
                    <center>

                            <ul class="nav nav-tabs justify-content-center" role="tablist">
                                <li class="nav-item">
                                <a class="nav-link active" href="#profile" role="tab" data-toggle="tab" aria-selected="true">Sign up</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">Why you should sign up</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="profile" >
                                    <br />
                                    <h6 class="text-danger">We can currently only notify people who live in the Stockholm region.</h6> <br>
                                    <h4>Time since our program last controlled if 1177.se updated the vaccination appointment booking webpage:</h4> <br>
                                    
                                    <h1 id="clock"></h1> <br>

                                    <p class="mb-4" >Do you want an email sent to you when the <span class="text-secondary">vaccination appointment booking</span> 
                                        webpage on <a href="https://www.1177.se/Stockholm/sjukdomar--besvar/lungor-och-luftvagar/inflammation-och-infektion-ilungor-och-luftror/om-covid-19--coronavirus/om-vaccin-mot-covid-19/boka-tid-for-vaccination-mot-covid-19-i-stockholms-lan/">1177.se</a> is updated? If yes, follow these steps:</p> 
                                        
                                    <h7>
                                        <p class="mb-1">1. Sign up for our mailing list in the form below</p>
                                        <p class="mb-1">2. <span class="text-info"><b>Swish</b></span> 0730577417 or <span class="text-info"><b>paypal</b></span> to this <b><a href="https://www.paypal.com/paypalme/gustafholmer?locale.x=sv_SE&fbclid=IwAR1PLcrgPMYuxS51xExodu_D-Mpe-kqpYVt4xn4pJJ7IUT_rmZPd7JA8XF0">link</a></b> an amount between <span class="text-danger"> 10-20 SEK</span>.
                                            Do not forget to put in your email address in the message field of the transfer. The money will cover the expenses of the website</p>
                                        <p class="mb-1">3. You will receive a confirmation email when we have processed your transfer</p>
                                        <p class="mb-4">4. Done! Now you will get an alert email whenever our program notice a change on the <a href="https://www.1177.se/Stockholm/sjukdomar--besvar/lungor-och-luftvagar/inflammation-och-infektion-ilungor-och-luftror/om-covid-19--coronavirus/om-vaccin-mot-covid-19/boka-tid-for-vaccination-mot-covid-19-i-stockholms-lan/">1177.se</a> vaccination booking page</p>
                                    </h7>

                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="buzz">
                                    <br />
                                        <h3>The BIG why </h3>
                                    
                                        <p>Currently in the Stockholm region, the only way to know when your age group can start to get vaccinated
                                            is to check the news or receive a physical letter from <a href="https://www.1177.se/Stockholm/sjukdomar--besvar/lungor-och-luftvagar/inflammation-och-infektion-ilungor-och-luftror/om-covid-19--coronavirus/om-vaccin-mot-covid-19/boka-tid-for-vaccination-mot-covid-19-i-stockholms-lan/">1177.se</a>. 
                                            The letter states that a new vaccination group can book an appointment. <span class="text-secondary">Keep reading below.</span>
                                        </p>

                                        
                                        <div>
                                            <img src="{{url_for('static',filename = '1177picture.png')}}" class="border border-light rounded mx-auto d-block img-fluid " alt="Responsive image" />
                                            
                                        </div>

                                        

                                        <p class="mt-4 mb-4"">
                                            This slow way to be informed when you can start making an appointment is what our mailing list wants to solve. 
                                            By signing up for our mail list you will know at once when <a href="https://www.1177.se/Stockholm/sjukdomar--besvar/lungor-och-luftvagar/inflammation-och-infektion-ilungor-och-luftror/om-covid-19--coronavirus/om-vaccin-mot-covid-19/boka-tid-for-vaccination-mot-covid-19-i-stockholms-lan/">1177.se</a> have opened bookings for a new vaccination group 
                                            (i.e when the boxes in the image above where it says “Ännu inte öppen” opens) on their vaccination information webpage. 
                                            Instead of waiting for lagging news or letters, you can be quick to find out by an alert mail from us when you can possibly make a vaccination appointment. 
                                        </p>
                                        
                                        
                                        <h4 class="mb-4">Follow these steps to make it possible:</h4>
                                        
                                          
                                        <h7 >
                                            <p class="mb-2">1. Sign up for our mailing list in the form below</p>
                                            <p class="mb-2">2. <span class="text-info"><b>Swish</b></span> 0730577417 or <span class="text-info"><b>paypal</b></span> to this <a href="https://www.paypal.com/paypalme/gustafholmer?locale.x=sv_SE&fbclid=IwAR1PLcrgPMYuxS51xExodu_D-Mpe-kqpYVt4xn4pJJ7IUT_rmZPd7JA8XF0">link</a> an amount between <span class="text-danger"> 10-20 SEK</span>.
                                                 Do not forget to put in your email address in the message field of the transfer. The money will cover the expenses of the website</p>
                                            <p class="mb-2">3. You will receive a confirmation email when we have processed your transfer</p>
                                            <p class="mb-4">4. Done! Now you will get an alert email whenever our program notice a change on the <a href="https://www.1177.se/Stockholm/sjukdomar--besvar/lungor-och-luftvagar/inflammation-och-infektion-ilungor-och-luftror/om-covid-19--coronavirus/om-vaccin-mot-covid-19/boka-tid-for-vaccination-mot-covid-19-i-stockholms-lan/">1177.se</a> vaccination booking page</p>
                                        </h7>

                                </div>



                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                    <small id="emailHelp" class="form-text text-muted">We will never share your email with anyone else and we will delete all stored emails when all vaccination times are available on 1177.se.
                                        We do not take any responsibility for your vaccination booking.
                                    </small>
                                </div>
                                <button type="submit" class="btn btn-primary mb-5" >Submit</button>

                                <hr>

                                <h6 class="small mt-2">The reason for creating this web application is that we currently believe Folkhälsomyndigheten is very vague regarding when 
                                    and how specific age groups in Sweden can begin to book their vaccination appointments.</h6>
                                <p class="pb-1"> </p>

                            </div>
                    </center>
                </form>
            </div>

            <div class="col-sm"></div>



        </div>

        

        <div class="row row-cols-1">
            <div class="col"><center><h6 class="small">Gustaf Holmer<br>gustaf.holmer@outlook.com<br></h6></center></div>
        </div>
        <div class="row row-cols-1">
            <div class="col"><center><h6 class="small">Adam Jacobs<br>theworldyn@gmail.com<br></h6></center></div>
        </div>

    </div> 

    <script type="text/javascript" src="{{ url_for('static', filename = 'time.js') }}"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">


    


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      

    <script>
        $(window).on('load', function() {
                $('.toast').toast('show');

                
        });
    </script>




</body>
</html>
