<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <meta name="description" content="Get a notification when the covid-19 vaccination page opens in the Stockholm region in Sweden">
    <meta name="robots" content="noindex,nofollow">
    <title>vaccinalert.se</title>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm-7"></div>
            <div class="col-sm"></div>
        </div>
    
        <div class="row">
            <div class="col-sm"></div>
            <div class="text-center col-sm-7">
                <center>
                <h3>This email address is already used by someone else. Email gustaf.holmer@outlook.com or theworldyn@gmail.com for more information.</h3>
                </center>
            </div>
            <div class="col-sm"></div>
        </div>

        <!--
        <div class="row text-center">
            <div class="col-sm"></div>
            <div class="col-sm-6">
                <center>
                    <img class="" src="/static/tegnell1.jpg"/>
                </center>
            </div>
            <div class="col-sm"></div>
        </div>
        -->
    </div>
</body>
</html>
