<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <title>vaccinalert.se</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm-6"></div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
                <h2 class="text-center">Something went wrong, try again!</h2>
        </div>
        <!--
        <div class="row text-center">
            <div class="col-sm"></div>
            <div class="col-sm-6">
                <center>
                    <img class="" src="/static/tegnell1.jpg"/>
                </center>
            </div>
            <div class="col-sm"></div>
        </div>
        -->
    </div>
</body>
</html>
