<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
    <meta name="description" content="Get a notification when the covid-1    9 vaccination page opens in the Stockholm region in Sweden">
    <meta name="robots" content="noindex,nofollow">
    <title>vaccinalert.se</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm-7">
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="text-center col-sm-7">
                <center>
                <h2>Thank you! Do not forget to swish or paypal. We will notify you when the payment has been received </h2> <br>
                </center>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>
</body>
</html>
