<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
    <meta name="description" content="Get a notification when the covid-1    9 vaccination page opens in the Stockholm region in Sweden">
    <meta name="robots" content="noindex,nofollow">
    <title>vaccinalert.se</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm-7">
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="text-center col-sm-7">
                <center>
                <br />
                <h5>Thank you! Do not forget to transfer us an amount between <span class="text-danger">10-20 SEK</span> (either swish to 0730577417 or use this paypal <a href="https://www.paypal.com/paypalme/gustafholmer?locale.x=sv_SE&fbclid=IwAR1PLcrgPMYuxS51xExodu_D-Mpe-kqpYVt4xn4pJJ7IUT_rmZPd7JA8XF0">link</a>) and we will add you to the email list. Do not forget to put in your email address in the message field of the transfer. We will send you a confirmation email when the payment has been processed by us. This can take some time as we verify the payment manually.</h5> 
                    <p class="pt-6"> <div class="text-danger">The confirmation email can get caught in spam filters!</div>Make sure to check for the confirmation email in inboxes such as "spam" or "trash" and move it to
                     a primary inbox. Do this to make sure to receive the alert email in the correct inbox.
                    </p><br>
                </center>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</body>
</html>
